/tex/research.aux
/tex/research.bbl
/tex/research.bcf
/tex/research.blg
/tex/research.fdb_latexmk
/tex/research.fls
/tex/research.log
/tex/research.out
/tex/research.pdf
/tex/research.run.xml
/tex/research.toc
